
.idea/libraries/lib.xml
ProgettoLaboratorio.iml
ProgettoLaboratorio.iml
.idea/dataSources.local.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_53_[Default_Changelist]/CentriVaccinali.class
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_53_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_53_[Default_Changelist]/SingoloCentroVaccinale.class
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_53__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_54_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_54_[Default_Changelist]/SingoloCentroVaccinale.class
.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2021_16_54__Default_Changelist_.xml
*.xml
*.class
*.class
*.class

*.class
.idea/shelf/Uncommitted_changes_before_Merge_at_18_05_2021_20_55_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Merge_at_18_05_2021_20_55__Default_Changelist_.xml
*.class
