.backButton{
    -fx-background-color: transparent;
    -fx-background-radius: 25;
}
.backButton:focused{
    -fx-background-color: transparent;
}
.backButton:hover{
    -fx-opacity: 0.5;
}

.datepicker .text-field {
    -fx-background-color: transparent;
    -fx-border-style: hidden;
    -fx-text-fill: white;
}
.bottomShadow{
    /*metto una shadow all'oggetto per far vedere che è elevato
    -fx-effect: dropshadow(gaussian,#8D9093,1,0.75,0,0);*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);

}

.radioButtonChip {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-text-fill: black;
    -fx-stroke: black;
    -fx-stroke-width: 3;
    -fx-padding: 2.4 8.2 2.4 8.2;
}
.radioButtonChip:selected{
    -fx-background-color: orange;
}

.scrollPaneCenters .viewport{
    -fx-background-color: #1a73e8;
}

.choiceBoxChip{
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-mark-color: #1a73e8;
    -fx-padding: 2.4 8.2 2.4 8.2;
}

.choiceBoxChip .menu-item:focused
{
    -fx-background-color: orange;
}

.choiceBoxChip:hover{
    -fx-border-color: orange;
    -fx-background-color: orange;
}

.buttonChip{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.buttonChip:hover{
    -fx-background-color: orange;
    -fx-padding: 2.4 8.2 2.4 8.2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.rectangleChip{
    -fx-background-radius: 18px;
}
.rectangleChip:hover{
    -fx-padding: 2.4 8.2 2.4 8.2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}