.backButton{
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.backButton:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8), 6, 0 , 0 , 0 );
    -fx-background-color: white;
}

.datepicker .text-field {
    -fx-background-color: transparent;
    -fx-border-style: hidden;
    -fx-text-fill: white;
}

.radioButtonChip {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-text-fill: black;
    -fx-padding: 2.4 8.2 2.4 8.2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8), 6, 0 , 0 , 0 );
}
.radioButtonChip:selected{
    -fx-background-color: orange;
}
.radioButtonChip:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8), 12, 0 , 0 , 0 );
}

.scrollPaneCenters .viewport{
    -fx-background-color: #1a73e8;
}

.choiceBoxChip{
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-mark-color: #1a73e8;
    -fx-padding: 2.4 8.2 2.4 8.2;
}
.choiceBoxChip .menu-item:focused
{
    -fx-background-color: orange;
}
.choiceBoxChip:hover{
    -fx-border-color: orange;
    -fx-background-color: orange;
}

.buttonChip{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}
.buttonChip:hover{
    -fx-background-color: orange;
    -fx-padding: 2.4 8.2 2.4 8.2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.rectangleChip{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.rectangleChip:hover{
    -fx-padding: 2.4 8.2 2.4 8.2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);

}

.buttonSelection{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 6, 0, 0, 0);
    -fx-cursor: hand;
}
.buttonSelection:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

.pagination{
    -fx-page-information-visible: false;
    -fx-font-size: 13;
    -fx-padding: 0;
}

.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button{
    -fx-background-color: grey;
    -fx-background-radius: 12;
    -fx-text-fill: transparent;
    -fx-background-insets: 8;
}
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-color: #1a73e8;
    -fx-background-insets: 6.3;
}

.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button{
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-alignment: center;
}
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 8, 0, 0, 0);
}

.pieChart > .chart-legend{
    -fx-min-width: 455;
    -fx-pref-width: 455;
    -fx-alignment: center;
}